<html>
  <head>

  </head>
  <body>
    <ul class="breadcrumb">
      <li class="active">Service Registration</li>
    </ul>

    <div class="container">

    <% if @approved %>
      <div class="well">
        <h2>Service Registered and automatically approved</h2>

        <p>
          Thanks for registering your service. As this is the <strong>test federation</strong> it has been
          <strong>AUTOMATICALLY APPROVED</strong> and can be accessed by users from institutions in the Tuakiri-TEST federation.
        </p>

        <h4>UNIQUE URL</h4>
        <p>The unique URL which your application should direct users to in order to start the authentication process is:</p>

        <div class="alert alert-block">
          <strong>https://<%= settings.hostname %>/jwt/authnrequest/research/<%= @identifier %></strong>
        </div>

        <p>Or, alternatively, if your service is a Zendesk instance, please use the following URL instead:<br>

        <div class="alert alert-block">
          <strong>https://<%= settings.hostname %>/jwt/authnrequest/zendesk/<%= @identifier %></strong>
        </div>

      </div>

    <% else %>
      <div class="well">
        <h2>Service Registration Complete</h2>

        <p>Thanks for registering your service. The Tuakiri team will review it and give final approval.</p>
        <p>Once approved, Tuakiri will <strong>email you</strong> at <em><%= session[:subject][:mail] %></em> with a unique URL to allow your service to connect to Tuakiri Rapid Connect.</p>
      </div>

      <p>If it has been more than 2 business days since you registered your service please contact <a href="mailto:tuakiri@reannz.co.nz?subject=Rapid Connect Registration Query">tuakiri@reannz.co.nz</a> for a progress update.</p>
    <% end %>
    </div>
  </body>
</html>
