<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/application.css" rel="stylesheet">
    <title>Tuakiri Rapid Connect</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="span12">
            <img alt="Logo" height="82" src="/logo.jpg" width="310" />
            <h1>Tuakiri Rapid Connect</h1>
          </div>
        </div>
      </div>
    </header>

    <section class="content">
      <div class="container">

        <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
          <div class="alert alert-<%= kind %>">
            <%= flash[kind] %>
          </div>
        <% end %>

        <%== yield %>

      </div>
    </section>

    <footer>
      <div class="container">
        <p>
          Tuakiri Rapid Connect <strong>version <%= current_version %></strong>
          <% if session[:subject] %>
            <br>
            Logged in as <em><%= session[:subject][:cn] %></em> ( <%=session[:subject][:principal]%> )
          <% end %>
          <br>

          Developed for the <a href="http://www.aaf.edu.au">Australian Access Federation</a> by <a href="http://bradleybeddoes.com">Bradley Beddoes</a>
        </p>
      </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/bootbox.min.js"></script>
    <script src="/application.js"></script>

  </body>
</html>
